.container {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 1rem 0;
}

.header {
  margin-bottom: 2rem;

  text-align: center;
}

.title {
  margin: 0;

  color: var(--color);
  font-size: 1.875rem;
  font-weight: 600;
}

.description {
  margin: 0;

  color: var(--color-light);
  font-size: 1.125rem;
  line-height: 1.3;
}

.categories {
  width: 100%;
  min-height: 100%;

  flex: 1;
}

.category-title {
  margin: 0 0 1rem;

  color: var(--color-light);
  font-size: 1.5rem;
  font-weight: 400;
}

.category {
  width: 100%;
  margin-bottom: 2rem;
}

.services {
  display: grid;

  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 1rem;
  grid-template-columns: 1fr;
}

.service {
  display: flex;

  width: 100%;

  text-decoration: none;

  align-items: center;
  gap: 1rem;
}

.service:hover {
  opacity: .8;
}

.service-name {
  width: 0;

  flex: 1 0 0;
}

.service strong {
  color: var(--color);
  font-weight: 600;
}

.service span {
  display: inline-block;
  overflow: hidden;

  max-width: 100%;

  color: var(--color-light);
  line-height: 1.3;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon-container {
  display: flex;

  box-sizing: border-box;
  width: 64px;
  height: 64px;
  padding: 8px;

  border-radius: 10px;

  background-color: var(--card);
  box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;

  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.icon-container.full {
  overflow: hidden;

  padding: 0;
}

.icon {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.letter {
  color: var(--color-light);
  font-size: 1.5rem;
  font-weight: 600;
}

.footer {
  color: var(--color-light);
  font-size: .875rem;

  text-align: center;
}

.footer p {
  margin: 1rem 0;
}

.footer a {
  color: var(--color-light);
}

.footer a:hover {
  color: var(--color);
}

@media only screen and (min-width: 640px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 1.5rem 1.5rem 0;
  }

  .header {
    margin-bottom: 3rem;

    text-align: center;;
  }

  .title {
    font-size: 2.25rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .category:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 2rem 2rem 0;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
